<!DOCTYPE html>
<html lang="en">
<head>

  </head>
  <body>
    <h1>Upload and display image in Flask</h1>
    <p>Show image in html using FLASK</p>

    <form method="POST" enctype="multipart/form-data" action="/">
        <input type="file" id="myFile" name="uploaded-file" >
        <input type="submit" value="Submit">
    </form>
  <br>
  <p style="color:blue;">Choose image file to upload</p>

  {% if data %}
    {% block content %}
    <img src="../static/uploads/{{data.image}}" width="300px" height="300px" style="margin:0 auto;"/>
    <h5>{{data.label}}</h5>
    {% endblock content %}
{% endif %}
  </body>
</html>